/* 荣誉资质 */
#honour{
    background: url(../images/zhu1.jpg) repeat-y;
    height: 720px;
    padding-top: 50px;
}
#honour>div>div{
    height: 640px;
    background: #ffffff;
}
#honour h3{
    width: 96px;
    height: 50px;
    font-size: 22px;
    margin: auto;
    padding-top: 40px;
}
#honour .contant>p{
      width: 1148px;
      height: 110px;
      line-height: 35px;
      margin: auto;
      color: #4f5d60;
      font-size: 12px;
}
#honour .contant>div{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 68px;
}
#honour .contant img{
    height: 224px;
    width: 340px;
}
#honour .contant img:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
}